
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
  font-family: "emphasis";
  src: url("../fonts/LT\ Emphasis\ Bold.ttf");
}

.roboto {
      font-family: "Roboto", sans-serif;
    }

    .playfair {
      font-family: "Playfair Display", serif;
    }

    .nunito {
      font-family: "Nunito", sans-serif;
    }

    .comfortaa {
      font-family: "Comfortaa", sans-serif;
    }



    /* footer start  */
      <div class="row">
        <div class="col-12   mt-5">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="social-icons">

              <img src="./images/footer/ph_instagram-logo-fill.png" alt="">


              <img src="./images/footer/bi_linkedin.png" alt="">


              <img src="./images/footer/ph_instagram-logo-fill.png" alt="">
            </div>

            <div class="footer-text">
              <p class="nunito fw-medium fs-6 mt-4"> Madelyn Torff 2021 </p>
            </div>
          </div>

        </div>
      </div>
     /* footer end   */


